/*
font-family: 'Roboto' 100 300 400 700 900, sans-serif;
font-family: 'Roboto Condensed' 400, 700, sans-serif;
*/

/*Colors:
High Blue: #0eedc7
Dark Blue: #002c59
Pure White:
Grey: #2d2d2d
#626262
#828282*/
body{
  transition: 0.66s ease-out;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 17px;
  line-height: 1.5;
  color: #002c59
}

h1 {
  font-family: "Roboto Condensed", "helvetica", sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
}

h2 {
  font-family: "Roboto Condensed", "helvetiva", sans-serif;
}

h3 {
font-family: "Roboto Condensed", "helvetiva", sans-serif;
font-size: 30px;
color: #002c59;
font-weight: 700;
}

h4 {
font-family: "Roboto Condensed", "helvetiva", sans-serif;
font-size: 17px;
color: #002c59;
font-weight: 700;
}

b {
    font-weight: bold;
}

hr {
  width: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  border-color: #0eedc7;
}

/* first part */

/*NAV START  HERE*/


/* burger menu */

.hero-landing li{
  display:none;
}

#mobilenavbarwrap {
  display: none;
}

#navbar {
  width:100%;
  height: 60px;
  color: #0eedc7;
  font-size: 28px;
  text-align: center;
  padding: 15px;
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: white;
  margin-bottom: 10px;
  z-index: 10;
  transition: top 0.5s;
  transition-timing-function: ease;
  }

#navbar li {
    display: inline-block;
    padding: 0px 30px;
  }

#navbar a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 17px;
  line-height: 1.5;
  color: #0eedc7;
  font-weight: 400;
}

#navbar a:hover {
  color: #002c59;
}


/*END OF NAV*/

  .landing-page{
    background-image: url('../images/bg-landing.png');
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    min-height: 450px;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-landing{

    background: rgba(0, 0, 20, 0.4);
    padding: 1em 1em 0.5em 1em;
    height: 95%;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .logo-hero {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
  }

  .logo-hero h1 {
    color: #0eedc7;
    font-size: 5em;
    text-align: center;
  }

  .logo-hero h2 {
    margin-top: -10px;
    color: #0eedc7;
    font-size: 5em;
    text-align: center;
  }

  .landing-description {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .landing-description p{
    color: #0eedc7;
    width: 250px;
    line-height: 110%;
    text-align: center;
    margin-top: 35px;
    position: relative;
    left:50%;
    transform: translate(-50%, -50%);
  }

  .landing-description img{
    max-width: 35px;
    position: relative;
    left: 50%;
    margin-top: 10px;
    transform: translate(-50%, -50%);
  }


/* second part */

.about-page{
  height: 85vh;
  width: 100vw;
  min-height: 550px;
  position: relative;
}

.content-about {
  height: 90%;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

#pictureabout{
  float: left;
  width: 50%;
  height: 100%;
  display: inline;
  padding: 10px;
}

#pictureabout img{
  max-height: 70%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 500px;
}

#textabout{
  float: left;
  height: 100%;
  width: 50%;
  display: inline;
  padding: 90px 5px 5px 5px;
  position: absolute;
}


#textabout hr {
  position: relative;
  left: -40%;
}

#textabout p{
  padding-top: 20px;
  text-align: left;
}

/* third part */

.services-page{
  height: 80vh;
  width: 100vw;
  min-height: 550px;
  position: relative;
}

#services-content{
  height: 90%;
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#servicetittle {
  width: 300px;
  height: 150px;
  padding: 30px 10px 10px 80px;
}

#servicetittle hr {
  position: relative;
  left: -20%;
}


.serviceone, .servicetwo, .servicethree {
  max-width: 32.5%;
  padding: 0 2%;
  float: left;
  height: 400px;
}

/*service one start*/

  #serviceonepic {
    position: relative;
    width: 190px;
    height: 210px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #serviceonepic img {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
  }

  #serviceonetext {
    position: absolute;
    top: 70%;
    font-size: 30px;
  }

  .serviceone p {
    padding-top: 20px;
    text-align: center;
  }

/*service one end*/

/*service two start*/

  #servicetwopic {
    position: relative;
    width: 190px;
    height: 210px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #servicetwopic img {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
  }

  #servicetwotext {
    position: absolute;
    top: 75%;
    font-size: 30px;
  }

  .servicetwo p {
    padding-top: 20px;
    text-align: center;
  }

/*service two end*/

/*service three start*/

  #servicethreepic {
    position: relative;
    width: 190px;
    height: 210px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #servicethreepic img {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
  }

  #servicethreetext {
    position: absolute;
    top: 75%;
    font-size: 30px;
  }

  .servicethree p {
    padding-top: 20px;
    text-align: center;
  }

/*service three end*/

/* fourth part */

.portfolio-page {
  width: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 85vh;
  min-height: 630px;
  clear: both;
  overflow: auto;
}

#portfoliotittle {
  max-width: 100px;
  margin: 10px 10px 50px 10px;
  position: relative;
  left: 18%;
}

.PortContainer {
  width: 33.3%;
  height: 250px;
  float: left;
  overflow: auto;
  position: relative;
}

.DescriptionContainer{
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0,44,89,0.8);
  transition: all 0.4s ease;
  top: 0;
  left: 0;
  padding: 10%;
  }

.DescriptionContainer hr {
  position: relative;
  left: -25%;
}

.DescriptionContainer h3 {
    font-weight: 400;
    color: #0eedc7;
}

.DescriptionContainer p {
    color: white;
}


.PortContainer:hover .DescriptionContainer {
  opacity: 1;
}

#port1 {
  background-image: url('../images/portfolio/nuttylove1.png');
  background-size: cover;
  background-position: center;
  position: relative;
}


  #port2 {
    padding: 10px;
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/1400/00841e63199563.5aa906aacbf2d.png');
    background-size: cover;
    background-position: center;
    position: relative;

  }

  #port3 {
    padding: 10px;
    background-image: url('../images/portfolio/vhalar1.png');
    background-size: cover;
    background-position: center;
  }


  #port4 {
    padding: 10px;
    background-image: url('../images/portfolio/smartmag1.jpg');
    background-size: cover;
    background-position: 50%;
    background-position: center;
  }

  #port5 {
    padding: 10px;
    background-image: url('../images/portfolio/vhalar1.png');
    background-size: cover;
    background-position: center;
  }

  #port6 {
    padding: 10px;
    background-image: url('../images/portfolio/nuttylove1.png');
    background-size: cover;
    background-position: center;
  }

  /* fith part */

.contact-page {
  height: 100%;
  width: 100vw;
  position: relative;
}

.minihero {
  background-color: #F5F8FB;
  height: 300px;
  width: 100vw;
}

.minihero h3{
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: lighter;
  color: #002c59;
  font-size: 30px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 9px;
}


.contactcontent {
  width: 100vw;
  min-height: 550px;
  padding: 5%;
}

.contactcontent hr{
  position: relative;
  left: -30%;
}

.contactinfo {
  width: 35%;
  padding: 30px;
  float: left;
}

.contactinfo p {
  padding-top: 10px;
}

.contactform {
  width: 60%;
  padding: 30px;
  float: left;
}

form {
  padding: 10px;
}

input {
  margin-bottom: 9px;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #0eedc7;
   -webkit-transition: 0.5s;
  transition: all 0.5s;
  outline: none;
  font-size: 15px;
  color:  #002c59;
  padding-left: 10px;
}

input:focus {
    border-bottom: 2px solid #002c59;
}

label {
  font-size: 18px;
  line-height: 28px;
  font-family: "Roboto";
  font-weight: 400;
  color: #002c59;
}

.coment {
  width: 100%;
  height: 30px;
  resize: none;
  overflow: scroll;
  border: none;
  border-bottom: 2px solid #0eedc7;
   -webkit-transition: 0.5s;
  transition: all 0.5s ease;
  outline: none;
  font-size: 15px;
  color:  #002c59;
  padding: 10px;
  margin-bottom: 10px;

}

.coment:focus {
    border-bottom: 2px solid #002c59;
    height: 80px;
}

.SubmitButton {
  width: 120px;
  height: 40px;
  padding: 6px;
  border: 2px solid #0eedc7;
  border-radius: 50px;
  text-decoration: none;
  color: #002c59;
  font-size: 15px;
  text-align: center;
  position: relative;
  transform: translate(-50%, 0%);
  left: 87%;
  background-color: white;
}

.SubmitButton:hover {
  background-color: #0eedc7;
  transition: all 0.4s ease;
}

footer {
  height: 50px;
  background-color: #F5F8FB;
}
footer p  {
  font-size: 9pt;
  text-align: center;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}


/* MOBILE DESIGN*/

  @media (min-width: 1px) and (max-width : 576px)  {

/* NAVIGATION */
#navbar {
  display:none;
}

#mobilenavbarwrap {
  display: block;
}
/* burger menu starts */

.burger-menu-piece {
    width: 100%;
    height:4px;
    margin: 4px 0;
    background-color: #0eedc7;
    border-radius: 4px;
    transition: 0.3s ease;
  }

div.activatePieceOne {
  transform: rotate(45deg);
  transition: 0.2s ease-out;
}

div.activatePieceTwo {
  transform: rotate(-90deg);
  transition: 0.2s ease-out;
}

div.activatePieceOut, div.activatePieceOut2{
  opacity: 0;
}

.overFlowHidden{
  overflow: hidden;
}

#mobilenavbar {
  display:block;
  position: fixed;
  width:100%;
  height: 60px;
  font-size: 28px;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 900;
  }

#burger-menu-container{
    display: block;
    position: fixed;
    height: 30px;
    width: 30px;
    top: 15px;
    left: calc(100vw - 55px);
    z-index: 500;
}

#burger-menu {
    display: none;
    background-color: #002c59;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 500;
  }

.site-nav{
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left:50%;
}

  .site-nav li {
    text-align: center;
    line-height: 70px;
  }

  .site-nav a {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 25px;
    text-decoration: none;
    color: #0eedc7;
    text-transform: uppercase;
  }

/* burger menu ends */

.landing-page {
  width: 100vw;
  min-height: 100vh;
  background-image: url('../images/bg-landing-mobile.png');
  position: relative;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }


 }

/* Tablets */

@media (min-width: 577px) and (max-width: 768px) {
}

/* Small desktop */
@media (min-width: 769px ) and (max-width: 992px) {
}
