/*
font-family: 'Roboto' 100 300 400 700 900, sans-serif;
font-family: 'Roboto Condensed' 400, 700, sans-serif;
*/

/*Colors:
High Blue: #0eedc7
Dark Blue: #002c59
Pure White:
Grey: #2d2d2d
#626262
#828282*/

p {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 17px;
  line-height: 1.5;
  color: #002c59
}

h1 {
  font-family: "Roboto Condensed", "helvetica", sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
}

h2 {
  font-family: "Roboto Condensed", "helvetiva", sans-serif;
}

h3 {
font-family: "Roboto Condensed", "helvetiva", sans-serif;
font-size: 23px;
color: #002c59;
font-weight: 700;
}

h4 {
font-family: "Roboto Condensed", "helvetiva", sans-serif;
font-size: 17px;
color: #002c59;
font-weight: 700;
}

hr {
  width: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  border-color: #0eedc7;
}

/* first part */

  .landing-page{
    background-image: url('../images/bg-landing.png');
    background-size: cover;
    height: 100vh;
    min-height: 450px;
    min-width: 100%;
    position: relative;
  }

  .hero-landing{

    background: rgba(0, 0, 20, 0.4);
    padding: 1em 1em 0.5em 1em;
    height: 95%;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  /* burger menu */

  .hero-landing li{
    display:none;
  }

  #burger-menu-container{
    display:block;
    position: absolute;
    right: 35px;
    top:35px;
    height: 30px;
    width: 25px;
  }

  .burger-menu-piece {
    width: 100%;
    height:3px;
    margin: 3px 0;
    background: #0eedc7;
    border-radius: 0.5
  }

  /* burger menu end */

  .logo-hero {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
  }

  .logo-hero h1 {
    color: #0eedc7;
    font-size: 5em;
    text-align: center;
  }

  .logo-hero h2 {
    margin-top: -10px;
    color: #0eedc7;
    font-size: 5em;
    text-align: center;
  }

  .landing-description {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  }


  .landing-description p{
    color: #0eedc7;
    width: 250px;
    line-height: 110%;
    text-align: center;
    margin-top: 35px;
    position: relative;
    left:50%;
    transform: translate(-50%, -50%);
  }

  .landing-description img{
    max-width: 35px;
    position: relative;
    left: 50%;
    margin-top: 10px;
    transform: translate(-50%, -50%);
  }

.navline {
  width:100%;
  height: 60px;
  color: #0eedc7;
  font-size: 28px;
  text-align: center;
  padding: 15px;
  position: relative;
  /*position: fixed;
  top: 0;*/
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: white;
  margin-bottom: 10px;
}
/* second part */

.about-page{
  max-width: 900px;
  height: 600px;
  padding: 20px 10px 20px 5px;
  position: relative;
  left: 12%;
}

.content-about {
  padding-top: 20vh;
}

.about-page img{
  max-height:280px;
  display: inline;
  float: left;
  margin-right: 30px;
}

.about-page hr {
  position: relative;
  left: -20%;
}

/*.about-page h3 {
  font-size: 20px;
  color: #002c59;
  font-weight: 700;
}*/

.about-page p{
  position: relative;
  left: 10px;
  padding-top: 20px;
  text-align: center;
}

/* third part */

.services-page{
  max-width: 90vw;
  height: 700px;
  padding: 10px 5px 10px 5px;
  position: relative;
  left: 7%;
}

#servicetittle {
  max-width: 300px;
  margin: 10px 10px 50px 10px;
}

#servicetittle hr {
  position: relative;
  left: -20%;
}


.serviceone, .servicetwo, .servicethree {
  max-width: 33.3%;
  padding: 0 1.5%;
  float: left;
  height: 400px;
}

#serviceonepic {
  position: relative;
  top: 0;
  left: 0;
  width: 190px;
  height: 190px;

}

#serviceonepic img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#textorebelde {
  position: absolute;
  top: 80%;
  left: 0px;
  font-size: 30px;

}

.serviceone p {
  padding-top: 20px;
  float: left;
  clear: both;
  text-align: center;
}

/*.services-content img {
  max-width: 80px;
  border-radius: 100%;
}*/

.servicetwo, .servicethree img, h4, p{
  padding: 10px 5px;
}




/* fourth part */

#portfoliotittle {
  max-width: 100px;
  margin: 10px 10px 50px 10px;
  position: relative;
  left: 18%;
}

.gallery {
  padding: 10px;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
  /*background-color: yellow;*/
}

.gallery figure{
  width: 33.3%;
  height: 200px;
  background-color: grey;
  float: left;
  padding: 1px;
  overflow: auto;
}
