/*
font-family: 'Roboto' 100 300 400 700 900, sans-serif;
font-family: 'Roboto Condensed' 400, 700, sans-serif;
*/

/*Colors:
High Blue: #0eedc7
Dark Blue: #002c59
Pure White:
Grey: #2d2d2d
#626262
#828282*/
body {
  max-width: 100%;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 17px;
  line-height: 1.5;
  color: #002c59
}

h1 {
  font-family: "Roboto Condensed", "helvetica", sans-serif;
  font-weight: 700;
  letter-spacing: -2px;
}

h2 {
  font-family: "Roboto Condensed", "helvetiva", sans-serif;
}

h3 {
font-family: "Roboto Condensed", "helvetiva", sans-serif;
font-size: 23px;
color: #002c59;
font-weight: 700;
}

h4 {
font-family: "Roboto Condensed", "helvetiva", sans-serif;
font-size: 17px;
color: #002c59;
font-weight: 700;
}

b {
    font-weight: bold;
}

hr {
  width: 3em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: solid;
  border-width: 2px;
  border-radius: 1em;
  border-color: #0eedc7;
}

/* first part */

/*NAV START  HERE*/


/* burger menu */

.hero-landing li{
  display:none;
}

#burger-menu-container{
  display:none;
}

/*
#burger-menu-container{
  display:block;
  position: absolute;
  right: 35px;
  top:35px;
  height: 30px;
  width: 25px;


.burger-menu-piece {
  width: 100%;
  height:3px;
  margin: 3px 0;
  background: #0eedc7;
  border-radius: 0.5
}*/

/* burger menu end */

#navbar {
  width:100%;
  height: 60px;
  color: #0eedc7;
  font-size: 28px;
  text-align: center;
  padding: 15px;
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translate(-50%, 0%);
  background-color: white;
  margin-bottom: 10px;
  z-index: 1;
  transition: top 0.5s;
  }

#navbar li {
    display: inline-block;
    padding: 0px 30px;

}

#navbar a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 17px;
  line-height: 1.5;
  color: #0eedc7;
  font-weight: 400;
}

#navbar a:hover {
  color: #002c59;
}


/*END OF NAV*/

  .landing-page{
    background-image: url('../images/bg-landing.png');
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    min-height: 450px;
    position: relative;
    background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
  }

  .hero-landing{

    background: rgba(0, 0, 20, 0.4);
    padding: 1em 1em 0.5em 1em;
    height: 95%;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .logo-hero {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
  }

  .logo-hero h1 {
    color: #0eedc7;
    font-size: 5em;
    text-align: center;
  }

  .logo-hero h2 {
    margin-top: -10px;
    color: #0eedc7;
    font-size: 5em;
    text-align: center;
  }

  .landing-description {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  }


  .landing-description p{
    color: #0eedc7;
    width: 250px;
    line-height: 110%;
    text-align: center;
    margin-top: 35px;
    position: relative;
    left:50%;
    transform: translate(-50%, -50%);
  }

  .landing-description img{
    max-width: 35px;
    position: relative;
    left: 50%;
    margin-top: 10px;
    transform: translate(-50%, -50%);
  }



/* second part */

.about-page{
  height: 85vh;
  width: 100vw;
  max-width: 100%;
  padding: 5vw;
  padding-top: 90px;
  position: relative;

}

.content-about {
  height: 85vh;
  width: 85vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);

}

#pictureabout{
  float: left;
  height: 100%;
  width: 48%;
  display: inline;

}

#pictureabout img{
  max-height:280px;
}


#textabout{
  float: right;
  height: 100%;
  width: 50%;
}

#textabout hr {
  position: relative;
  left: -35%;
}

#textabout p{
  position: relative;
  left: 10px;
  padding-top: 20px;
  text-align: left;
}

/* third part */

.services-page{
  height: 90vh;
  width: 100vw;
  max-width: 100%;
  padding: 5vw;
  position: relative;
}

#servicetittle {
  max-width: 300px;
  height: 150px;
  padding: 10px 10px 50px 10px;
}

#servicetittle hr {
  position: relative;
  left: -20%;
}


.serviceone, .servicetwo, .servicethree {
  max-width: 32.5%;
  padding: 0 2%;
  float: left;
  height: 400px;
}

/*service one start*/

  #serviceonepic {
    position: relative;
    width: 190px;
    height: 210px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #serviceonepic img {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
  }

  #serviceonetext {
    position: absolute;
    top: 70%;
    font-size: 30px;
  }

  .serviceone p {
    padding-top: 20px;
    text-align: center;
  }

/*service one end*/

/*service two start*/

  #servicetwopic {
    position: relative;
    width: 190px;
    height: 210px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #servicetwopic img {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
  }

  #servicetwotext {
    position: absolute;
    top: 75%;
    font-size: 30px;
  }

  .servicetwo p {
    padding-top: 20px;
    text-align: center;
  }

/*service two end*/

/*service three start*/

  #servicethreepic {
    position: relative;
    width: 190px;
    height: 210px;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #servicethreepic img {
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
  }

  #servicethreetext {
    position: absolute;
    top: 75%;
    font-size: 30px;
  }

  .servicethree p {
    padding-top: 20px;
    text-align: center;
  }

/*service three end*/

/* fourth part */
.porfolio-page {
  display: block;
  float: left;
  clear: both;
}

.portfolio-page {
  overflow:auto;
  min-height: 500px;
  width: auto;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0%);
  clear: both;
}

#portfoliotittle {
  max-width: 100px;
  margin: 10px 10px 50px 10px;
  position: relative;
  left: 18%;
}

.PortContainer {
  width: 33.3%;
  height: 250px;
  float: left;
  overflow: auto;
  position: relative;
}

.DescriptionContainer{
  background-color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0,44,89,0.8);
  transition: all 0.4s ease;
  top: 0;
  left: 0;
  padding: 10%;
  }

.DescriptionContainer hr {
  position: relative;
  left: -25%;
}

.DescriptionContainer h3 {
    font-weight: 400;
    color: #0eedc7;
}

.DescriptionContainer p {
    color: white;
}


.PortContainer:hover .DescriptionContainer {
  opacity: 1;
}

#port1 {
  background-image: url('../images/portfolio/nuttylove1.png');
  background-size: cover;
  position: relative;
}


  #port2 {
    padding: 10px;
    background-image: url('../images/portfolio/smartmag1.jpg');
    background-size: cover;
    background-position: 50%;
  }

  #port3 {
    padding: 10px;
    background-image: url('../images/portfolio/vhalar1.png');
    background-size: cover;
  }


  #port4 {
    padding: 10px;
    background-image: url('../images/portfolio/smartmag1.jpg');
    background-size: cover;
    background-position: 50%;
  }

  #port5 {
    padding: 10px;
    background-image: url('../images/portfolio/vhalar1.png');
    background-size: cover;
  }

  #port6 {
    padding: 10px;
    background-image: url('../images/portfolio/nuttylove1.png');
    background-size: cover;
    position: relative;
  }

  /* fith part */

.contact-page {
  height: 100vh;
  min-height: 450px;
  padding-top: 20px;
  width: 100vw;
  max-width: 100%;
}

.minihero {
  background-color: #F5F8FB;
  height: 300px;
  width: 100vw;
  max-width: 100%;
  padding: 10%;
}

.minihero h3{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: lighter;
  color: #002c59;
  font-size: 30px;
}

.contacttittle {
  padding: 30px;
  padding-top: 60px;
  max-width: 300px;
  height: 150px;
}

.contactcontent {
  width: 100vw;
  max-width: 100%;
  height: 400px;
}

.contactinfo {
  width: 35%;
  padding: 30px;
  float: left;
}

.contactinfo p {
  padding-top: 10px;
}

.contactform {
  width: 60%;
  padding: 30px;
  float: left;
}

form {
  padding: 10px;
}

input {
  margin-bottom: 9px;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2px solid #0eedc7;
   -webkit-transition: 0.5s;
  transition: all 0.5s;
  outline: none;
  font-size: 15px;
  color:  #002c59;
  padding-left: 10px;
}

input:focus {
    border-bottom: 2px solid #002c59;
}

label {
  margin: 5px;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 400;
  color: #002c59;
}

.coment {
  width: 100%;
  height: 30px;
  resize: none;
  overflow: scroll;
  border: none;
  border-bottom: 2px solid #0eedc7;
   -webkit-transition: 0.5s;
  transition: all 0.5s ease;
  outline: none;
  font-size: 15px;
  color:  #002c59;
  padding: 10px;
  margin-bottom: 10px;

}

.coment:focus {
    border-bottom: 2px solid #002c59;
    height: 100px;
}

.SubmitButton {
  width: 120px;
  height: 40px;
  padding: 6px;
  border: 2px solid #0eedc7;
  border-radius: 50px;
  text-decoration: none;
  color: #002c59;
  font-size: 15px;
  text-align: center;
  position: relative;
  transform: translate(-50%, 0%);
  left: 87%;
}

.SubmitButton:hover {
  background-color: #0eedc7;
  transition: all 0.4s ease;
}

/* MOBILE DESIGN*/

 @media screem (max-width: 599px) {

.landing-page {
  display:none;
}


 }
